body {
    font-family: Arial, sans-serif;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#masBoton {
    position: fixed;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    z-index: 1000;
}

#btn-mas {
    display: none;
}

.btn-mas {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #f0f0f0;
    border-radius: 50px;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#masfloat {
    font-size: 24px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.textoFloat {
    font-size: 16px;
    color: #007bff;
    font-weight: bold;
}

#btnfloat {
    display: none;
    position: fixed;
    bottom: calc(50% + 60px);
    right: 50%;
    transform: translateX(50%);
    z-index: 999;
}

#btn-mas:checked + .btn-mas + #btnfloat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn-mas:checked + .btn-mas #masfloat {
    transform: rotate(280deg);
}

.contfloat {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.flobn {
    text-align: center;
    margin: 5px 0;
}

.float-img {
    width: 100px;
    height: 100px;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    transition: background 0.3s ease;
    cursor: pointer;
}

.float-img span {
    display: block;
    color: #333;
    font-size: 14px;
}

.float-img:hover {
    background-size: cover;
    background-position: center;
}

.float-img.estetica:hover {
    background-image: url("assets/icono-confort-3d.png.webp");
}

.float-img.higiene:hover {
    background-image: url("assets/icono-estetica-3d.png");
}

.float-img.confort:hover {
    background-image: url("assets/icono-funcion-muscular-3d.png.webp");
}

.float-img.funcionmuscular:hover {
    background-image: url("assets/icono-higiene-3d.png.webp");
}

.float-img.movimientodental:hover {
    background-image: url("assets/icono-movimiento-dental-3d.png.webp");
}
