body {
    font-family: Arial, sans-serif;
    background-color: #333;
}

#masBoton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.btn-mas {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #f0f0f0;
    border-radius: 50px;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#masfloat {
    font-size: 24px;
    margin-right: 10px;
}

.textoFloat {
    font-size: 16px;
}

#btnfloat {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 20px;
    z-index: 999;
}

#btn-mas:checked + .contfloat {
    display: flex;
}

.contfloat {
    display: none;
    justify-content: space-between;
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.flobn {
    text-align: center;
    flex: 1;
}

.float-img {
    width: 100px;
    height: 100px;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    transition: background 0.3s ease;
    cursor: pointer;
}

.float-img span {
    display: block;
    color: #333;
    font-size: 14px;
}

.float-img:hover {
    background-size: cover;
    background-position: center;
}

.float-img.estetica:hover {
    background-image: url("assets/icono-confort-3d.png.webp");
}

.float-img.higiene:hover {
    background-image: url("assets/icono-estetica-3d.png");
}

.float-img.confort:hover {
    background-image: url("assets/icono-funcion-muscular-3d.png.webp");
}

.float-img.funcionmuscular:hover {
    background-image: url("assets/icono-higiene-3d.png.webp");
}

.float-img.movimientodental:hover {
    background-image: url("assets/icono-movimiento-dental-3d.png.webp");
}
